@page
@model AboutModel
@{
     ViewData["Title"] = "About";
}
<div class="titles">
     <h2>JWT Single Sign-On</h2>
     <h4>A demonstration of Single Sign-On authentication using microservice REST APIs and JWTs</h4>
     <h4>Implemented in .NET Core 2.0 with RazorPages</h4>
</div>

<p>
     by:<br />
     <b>Christopher Carter</b><br />
     christopher.carter.777@gmail.com<br />
     chriscarter777.github.io
</p>